body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 150%;

}

hr {

    border-style: none;
    width: 6%;
    border-top-style: dotted;
    border-width: 7px;
    border-color: rgb(154, 152, 152);
    margin: 110px auto 110px auto;


}

.top-container {
    background-color: #EAF6F6;
}

.middle-container {
    margin: 100px 0px;
}

h1 {
    font-size: 5.6rem;
    margin-top: 200px auto 0px auto;
    /* 16px = 100% = 1em */
    font-family: 'Sacramento', cursive;
    color: #66BFBF;


}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


span {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 65px;


}

.bottom-cloud {
    position: absolute;
    left:200px;
}

.profile-picture {

    height: 200px;

}

.programming-picture {

    width: 30%;
    float: left;
    margin-right: 10px;

}

.video-picture {
    width: 25%;
    float: right;

}

a{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover{
color: blue;
}

.copyright {
   padding: 20px 10px;
    color: #EAF6F6;
    font-size: 15px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
    background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
    -webkit-border-radius: 39;
    -moz-border-radius: 39;
    border-radius: 39px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;


}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.bottom-container {
   
    background-color: #66BFBF;

    height: 160px;
    padding:50px 0px 20px;
}